   <div class="cta_part">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-6">
               <div class="cta_iner">
                  <h1>Bạn đã có tài khoản chưa?</h1>
                  <p>Bạn muốn đặt chụp ảnh</p>
                  
                  <a href="#myModal" class="cta_btn trigger-btn" data-toggle="modal">Sign Up</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="apartment_part">
      <div class="container">
         <div class="row justify-content-between align-content-center">
            <div class="col-md-8 col-lg-7">
               <div class="section_tittle">
                  <h1> Danh sách các<br>
                     <b>Studio</b></h1>
               </div>
            </div>
            <div class="col-md-4 col-lg-5">
               <div class="view_more_btn float-right d-none d-md-block">
                  <a href="#" class="btn_2">Read More <span class="ti-arrow-right"></span></a>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-lg-4 card-studio">
               <div class="single_appartment_part">
                  <div class="appartment_img">
                     <img src="img/appertment_1.png" alt="">
                     <div class="single_appartment_text">
                        <h3>Giá tiền gói</h3>
                        <p><span class="ti-location-pin"></span> Địa chỉ của studio</p>
                     </div>
                  </div>
                  <div class="single_appartment_content">
                     <a href="" class="love_us"> <span class="ti-heart"></span><span class="ti-heart"></span> </a>
                     <p>Các phong cách ảnh của studio</p>
                     <a href="#">
                        <h4>Tên của studio</h4>
                     </a>
                     <ul class="list-unstyled">
                     	<li><a href="#"><span class="far fa-comments"></span></a></li>
                        <li><a href=""><span class="ti-heart"></span></a> 04</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
        <nav class="blog-pagination justify-content-center d-flex">
           <ul class="pagination">
             <li class="page-item">
               <a href="#" class="page-link" aria-label="Previous">
                 <i class="ti-angle-left"></i>
               </a>
             </li>
             <li class="page-item">
               <a href="#" class="page-link">1</a>
             </li>
             <li class="page-item active">
               <a href="#" class="page-link">2</a>
             </li>
             <li class="page-item">
               <a href="#" class="page-link" aria-label="Next">
                 <i class="ti-angle-right"></i>
               </a>
             </li>
           </ul>
         </nav>
      </div>
   </div>
   <!--::apartment_part end::-->

   <!--::room_part end::-->
 <!--  <div class="room_part">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6 col-lg-6">
               <div class="room_1">
                  <img src="img/room_1.png" alt="">
                  <div class="room_text_1">
                     <h1>Beginning own <br> light divided male <br> is light</h1>
                     <a href="#" class="btn_2">Read More <span class="ti-arrow-right"></span></a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-6">
               <div class="room_2">
                  <img src="img/room_2.png" alt="">
                  <div class="room_text_2">
                     <h1>Beginning own <br> light divided male <br> is light</h1>
                     <a href="#" class="btn_2">Read More <span class="ti-arrow-right"></span></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--::room_part end::-->

   <!--::review_part end::-->
   <div class="review_part" id="testimonial">
      <div class="container">
         <div class="row">
            <div class="col-sm-8 col-lg-7">
               <div class="section_tittle">
                  <h1>Our Happy Customer
                     Says About us</h1>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="review_part_text owl-carousel">
                  <div class="singler_eview_part">
                     <div class="client_info">
                        <img src="img/client_1.png" alt="">
                        <h4>Mouunt Alezaber</h4>
                        <p>Project manager</p>
                     </div>
                     <p><i>Enim a, scelerisque aliquet. Vivamus neque diam sed at, pede laoreet orci.
                           Potenti vel In sagittis nulla augue vitae et tempus torquent. Lacinia neque
                           mus taciti ante prsent at facilisis. Enim a, scelerisque aliquet. Vivamus
                           neque diam sed at, pede laoreet orci Potti, vel. In sagittis nulla augue
                           vitae et tempus torquent.</i></p>
                  </div>
                  <div class="singler_eview_part">
                     <div class="client_info">
                        <img src="img/client_2.png" alt="">
                        <h4>Mouunt Alezaber</h4>
                        <p>Project manager</p>
                     </div>
                     <p><i>Enim a, scelerisque aliquet. Vivamus neque diam sed at, pede laoreet orci.
                           Potenti vel In sagittis nulla augue vitae et tempus torquent. Lacinia neque
                           mus taciti ante prsent at facilisis. Enim a, scelerisque aliquet. Vivamus
                           neque diam sed at, pede laoreet orci Potti, vel. In sagittis nulla augue
                           vitae et tempus torquent.</i></p>
                  </div>
                  <div class="singler_eview_part">
                     <div class="client_info">
                        <img src="img/client_1.png" alt="">
                        <h4>Mouunt Alezaber</h4>
                        <p>Project manager</p>
                     </div>
                     <p><i>Enim a, scelerisque aliquet. Vivamus neque diam sed at, pede laoreet orci.
                           Potenti vel In sagittis nulla augue vitae et tempus torquent. Lacinia neque
                           mus taciti ante prsent at facilisis. Enim a, scelerisque aliquet. Vivamus
                           neque diam sed at, pede laoreet orci Potti, vel. In sagittis nulla augue
                           vitae et tempus torquent.</i></p>
                  </div>
                  <div class="singler_eview_part">
                     <div class="client_info">
                        <img src="img/client_2.png" alt="">
                        <h4>Mouunt Alezaber</h4>
                        <p>Project manager</p>
                     </div>
                     <p><i>Enim a, scelerisque aliquet. Vivamus neque diam sed at, pede laoreet orci.
                           Potenti vel In sagittis nulla augue vitae et tempus torquent. Lacinia neque
                           mus taciti ante prsent at facilisis. Enim a, scelerisque aliquet. Vivamus
                           neque diam sed at, pede laoreet orci Potti, vel. In sagittis nulla augue
                           vitae et tempus torquent.</i></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--::review_part end::-->